PORT=3333
HOST=0.0.0.0
NODE_ENV=development
APP_KEY=ISVSSRXn8Oe8EBb5sJ1kJj58R3m5TLwR
DRIVE_DISK=local

DB_CONNECTION=pg
PG_HOST=localhost
PG_PORT=5432
PG_USER=lucid
PG_PASSWORD=
PG_DB_NAME=lucid

GOOGLE_CLIENT_ID=clientId
GOOGLE_CLIENT_SECRET=clientSecret

TWITTER_CLIENT_ID=clientId
TWITTER_CLIENT_SECRET=clientSecret

DISCORD_CLIENT_ID=clientId
DISCORD_CLIENT_SECRET=clientSecret

FACEBOOK_CLIENT_ID=clientId
FACEBOOK_CLIENT_SECRET=clientSecret

S3_KEY=dummyKey
S3_SECRET=dummySecret
S3_BUCKET=dummyBucket
S3_REGION=dummyRegion
S3_ENDPOINT=dummyEndpoint

SENTRY_DSN=